{% extends 'tools/base.html' %}
{% block title %}Angular{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% verbatim %}
            <div class="col-md-12" ng-app="toolsApp">
                <h2>SNS Test Tools</h2>
                <ul>
                    <li><a href="#!/">Home</a></li>
                    <li><a href="#!/aps">AP table</a></li>
                </ul>
                <div ng-view></div>
            </div>
            {% endverbatim %}
        </div>
    </div>
{% endblock %}
{% block user_js %}
<script type="application/javascript">
    var app = angular.module('toolsApp', ['ngRoute', "xeditable"]);
    app.config(['$routeProvider', function($routeProvider) {
        $routeProvider
            .when('/', {template: "<h1>Welcome to use tools of SNS!</h1>"})
            .when('/aps', {
                templateUrl: '/static/tools/views/aps.html'
            })
            .otherwise({redirectTo:'/'});
    }]);
</script>
<script src="/static/tools/js/aps.js"></script>
{% endblock %}
