<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}No title{% endblock %}</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/static/css/jtable/themes/lightcolor/gray/jtable.min.css" rel="stylesheet"/>
        <link href="/static/tbd/css/user_style.css" rel="stylesheet">
        {% block user_style %}{% endblock %}
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" contenteditable="false">
                        <li {% block nav_home_attr %}{% endblock %}><a href="{% url 'tbd_home' %}">Home</a></li>
                        <li {% block nav_project_attr %}{% endblock %}><a href="{% url 'tbd_project' %}">Project</a></li>
                        <li {% block nav_build_attr %}{% endblock %}><a href="{% url 'tbd_build' %}">Build</a></li>
                        <li {% block nav_host_attr %}{% endblock %}><a href="{% url 'tbd_host' %}">Host</a></li>
                        <li {% block nav_testcase_attr %}{% endblock %}><a href="{% url 'tbd_testcase' %}">TestCase</a></li>
                        <li {% block nav_crash_attr %}{% endblock %}><a href="{% url 'tbd_crash' %}">Crash</a></li>
                        <li class="disabled"><a href="#">To-Do</a></li>
                        <li class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                Configuration<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin">Manage</a></li>
                                <li><a href="#">to-do 1</a></li>
                                <li><a href="#">to-do 2</a></li>
                                <li class="divider"></li>
                                <li><a href="#">to-do 11</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-select.min.js"></script>
<!--        <script src="/static/js/jquery.bootstrap.min.js"></script>-->
        <script src="/static/js/jquery.tabledit.min.js"></script>
        <script src="/static/js/jquery.jtable.min.js"></script>
        <script src="/static/tbd/js/user_js.js"></script>
        
        {% block user_js %}{% endblock %}
    </body>
</html>