{% extends 'tbd/base.html' %}
{% block title %}Build - SBD{% endblock %}
{% block nav_build_attr %}class="active"{% endblock %}
{% block user_style %}<link href="/static/css/user_style.css" rel="stylesheet">{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <p>
                          <h1>
                          {% if project %}
                          {{ project.name }} <small>{{ project.owner }}</small>
                          {% else %}
                          No project selection <small>anonymous</small>
                          {% endif %}
                          </h1>
                        </p>
                    </div>
                    <div class="col-md-5 row-bottom">
                        <h4>Choose project {{ project.name }}:
                            <select name="project_name">
                                <option>--select project--</option>
                                {% for prj in projects %}
                                    <option value="{{prj.name}}"{% if project and prj == project %} selected="selected"{% endif %}>{{forloop.counter}}. {{prj.name}}</option>
                                {% endfor %}
                            </select>
                        </h4>
                    </div>
                </div>
                <table id="id_project_table" class="table" contenteditable="false">
                    <caption class="text-center">Build List</caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Version</th>
                            <th>ShortName</th>
                            <th>UseServer</th>
                            <th>Create</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for blt in builds %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ blt.version }}</td>
                            <td>{{ blt.short_name }}</td>
                            <td>{{ blt.use_server }}</td>
                            <td>{{ blt.create }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                </ul>
                <div>
                    <form action="{% url 'tbd_build' %}" method="post">
                        <fieldset>
                            <legend contenteditable="false">Add Build</legend>
                            <table>
                                {% csrf_token %}
                                {{ form }}
                                <tr>
                                    <td><button class="btn" type="reset" contenteditable="false">Reset</button></td>
                                    <td><button class="btn" name="add" type="submit" contenteditable="false">Submit</button></td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div>
                {% if error_msg %}
                <div class="alert alert-danger"  role="alert">
                    <strong>Error!</strong><br/>{{ error_msg|safe }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}