{% extends 'tbd/base.html' %}
{% block title %}Build{% endblock %}
{% block nav_build_attr %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                          <h1>
                          {% if project %}
                          {{ project.name }} <small>{{ project.owner }}</small>
                          {% else %}
                          No project selection <small>anonymous</small>
                          {% endif %}
                          </h1>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="filtering">
                            Project:
                            <select name="project_name" class="selectpicker">
                                <option value>--select project--</option>
                                {% for prj in projects %}
                                    <option value="{{prj.id}}"{% if project and prj == project %} selected="selected"{% endif %}>{{forloop.counter}}. {{prj.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="BuildContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block user_js %}
<script type="text/javascript">
    $(function(){
        $('#BuildContainer').jtable({
            title: 'Build List',
            paging: true,
            pageSize: 20,
            selecting: false,
            actions: {
                listAction: '/ajax/build_list',
                createAction: '/ajax/build_create?prj_id={% if project %}{{ project.id }}{% endif %}',
                updateAction: '/ajax/build_update',
                deleteAction: '/ajax/build_delete'
            },
            fields: {
                build_id: {
                    key: true,
                    list: false
                },
                build_version: {
                    title: 'Build Version',
                    width: '30%',
                    display: function(data) {
                        console.log(data);
                        if ('running_build_id' in data.record) {
                            if (data.record.running_build_id == data.record.build_id) {
                                return '-> ' + data.record.build_version;
                                console.log("match")
                            }
                            return data.record.build_version;
                        }
                        return 0;
                    }
                },
                build_short_name: {
                    title: 'Build Name',
                    width: '13%'
                },
                build_is_stop: {
                    title: 'Stopped',
                    width: '7%',
                    type: 'checkbox',
                    create: false,
                    values: { 'false': 'False', 'true': 'True' },
                    defaultValue: 'false'
                },
                crash_num: {
                    title: 'Total Crash',
                    width: '15%',
                    display: function(data) {
                        console.log(data);
                        if ('crash_num' in data.record) {
                            var crash_num = data.record.crash_num;
                            var build_id = data.record.build_id;
                            return '<a href="{% url "tbd_crash" %}?build_id=' + build_id + '"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"> ' + crash_num + ' crashes</span></a>';
                        }
                        return 0;
                    },
                    create: false,
                    edit: false
                },
                build_test_hours: {
                    defaultValue: 0,
                    title: 'Test Hours',
                    width: '10%'
                },
                build_server_path: {
                    title: 'Build Server Path',
                    list: false
                },
                build_use_server: {
                    title: 'Upgrade by Server Path',
                    list: false,
                    type: 'checkbox',
                    values: { 'false': 'False', 'true': 'True' },
                    defaultValue: 'false'
                },
                build_local_path: {
                    title: 'Build Local Path',
                    list: false
                },
                build_crash_path: {
                    title: 'Upload Crash Path',
                    list: false
                },
                create_time: {
                    title: 'Create Time',
                    width: '25%',
                    create: false,
                    edit: false
                }
            }
        });
        $('#BuildContainer').jtable('load', {'prj_id': {% if project %}{{ project.id }}{% else %}null{% endif %}});
    });
</script>
{% endblock %}