{% extends 'tbd/base.html' %}
{% block title %}Crash{% endblock %}
{% block nav_crash_attr %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                          <h1>
                          {% if project %}
                          {{ project.name }} <small>{{ project.owner }}</small>
                          {% else %}
                          No project selection <small>anonymous</small>
                          {% endif %}
                          </h1>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="filtering">
                            Project:
                            <select name="project_name" class="selectpicker">
                                <option value>--select project--</option>
                                {% for prj in projects %}
                                    <option value="{{prj.id}}"{% if project and prj == project %} selected="selected"{% endif %}>{{forloop.counter}}. {{prj.name}}</option>
                                {% endfor %}
                            </select>
                            Build: 
                            <select name="build_version" class="selectpicker">
                                <option value>--select build--</option>
                                {% for bld in builds %}
                                    <option value="{{bld.id}}"{% if build and build == bld %} selected="selected"{% endif %}>{{forloop.counter}}. {{bld.short_name}}</option>
                                {% endfor %}
                            </select>
                            Host: 
                            <select name="host" class="selectpicker">
                                <option value>--select host--</option>
                                {% for ht in hosts %}
                                    <option value="{{ht.id}}"{% if host and host == ht %} selected="selected"{% endif %}>{{forloop.counter}}. {{ht.name}}</option>
                                {% endfor %}
                            </select>
                            TestCase: 
                            <select name="testcase" class="selectpicker">
                                <option value>--select testcase--</option>
                                {% for tc in testcases %}
                                    <option value="{{tc.id}}"{% if testcase and testcase == tc %} selected="selected"{% endif %}>{{forloop.counter}}. {{tc.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="CrashContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block user_js %}
<script type="text/javascript">
    var cachedCrashOptions = {'testcase': {}, 'host': {}, 'jira': {}, 'build': {}};
    $(function(){
        $('#CrashContainer').jtable({
            title: 'Crash List',
            paging: true,
            pageSize: 20,
            selecting: false,
            actions: {
                listAction: '/ajax/crash_list',
                createAction: '/ajax/crash_create',
                updateAction: '/ajax/crash_update',
                deleteAction: '/ajax/crash_delete'
            },
            fields: {
                crash_id: {
                    key: true,
                    list: false
                },
                crash_path: {
                    title: 'Crash Path',
                    width: '15%',
                    display: function(data) {
                        console.log(data);
                        if ('crash_path' in data.record) {
                            var crash_path = data.record.crash_path;
                            var parts = crash_path.split(/[\\\/]/);
                            var last_part = '';
                            for (var i=parts.length - 1; i >= 0; i--) {
                                if (parts[i]) {
                                    last_part = parts[i];
                                    break;
                                }
                            }
                            parts = crash_path.split('/')
                            return '<a href="' + crash_path + '">' + last_part + '</a>';
                        }
                        return '';
                    },
                },
                build_id: {
                    title: 'Build',
                    width: '20%',
                    options: function (data) {
                        console.log(data);
                        var prj_id = {% if project %}{{ project.id }}{% else %}null{% endif %};
                        if (prj_id) {
                            if (prj_id in cachedCrashOptions.build) {
                                console.log("return cached build for project id " + prj_id + "!");
                                return cachedCrashOptions.build[prj_id];
                            }
                        }
                        else {
                            console.log("%Error%: not found project id when request build list!");
                            return [];
                        }
                        var options = [];
                        $.ajax({
                            url: '/ajax/list_options_builds_in_project',
                            type: 'POST',
                            dataType: 'json',
                            data: {'prj_id': prj_id},
                            async: false,
                            success: function (data) {
                                if (data.Result != 'OK') {
                                    alert(data.Message);
                                    return;
                                }
                                console.log(data);
                                options = data.Options;
                            }
                        });
                        return cachedCrashOptions.build[prj_id] = options; //Cache results and return options
                    },
                    create: true,
                    edit: true
                },
                host_id: {
                    title: 'Host',
                    width: '10%',
                    options: function (data) {
                        console.log(data);
                        var prj_id = {% if project %}{{ project.id }}{% else %}null{% endif %};
                        if (prj_id) {
                            if (prj_id in cachedCrashOptions.host) {
                                console.log("return cached host for project id " + prj_id + "!");
                                return cachedCrashOptions.host[prj_id];
                            }
                        }
                        else {
                            console.log("%Error%: not found project id when request build list!");
                            return [];
                        }
                        var options = [];
                        $.ajax({
                            url: '/ajax/list_options_hosts_in_project?prj_id='+prj_id,
                            type: 'POST',
                            dataType: 'json',
                            async: false,
                            success: function (data) {
                                if (data.Result != 'OK') {
                                    alert(data.Message);
                                    return;
                                }
                                console.log(data);
                                options = data.Options;
                            }
                        });
                        return cachedCrashOptions.host[prj_id] = options; //Cache results and return options
                    },
                    create: true,
                    edit: true
                },
                testcase_id: {
                    title: 'TestCase',
                    width: '10%',
                    options: function (data) {
                        console.log(data);
                        var prj_id = {% if project %}{{ project.id }}{% else %}null{% endif %};
                        if (prj_id) {
                            if (prj_id in cachedCrashOptions.testcase) {
                                console.log("return cached testcase for project id " + prj_id + "!");
                                return cachedCrashOptions.testcase[prj_id];
                            }
                        }
                        else {
                            console.log("%Error%: not found project id when request build list!");
                            return [];
                        }
                        var options = [];
                        $.ajax({
                            url: '/ajax/list_options_testcases_in_project?prj_id='+prj_id,
                            type: 'POST',
                            dataType: 'json',
                            async: false,
                            success: function (data) {
                                if (data.Result != 'OK') {
                                    alert(data.Message);
                                    return;
                                }
                                console.log(data);
                                options = data.Options;
                            }
                        });
                        return cachedCrashOptions.testcase[prj_id] = options; //Cache results and return options
                    },
                    create: true,
                    edit: true
                },
                jira_id: {
                    title: 'JIRA ID',
                    width: '10%',
                    create: true,
                    edit: true
                },
                jira_category: {
                    title: 'JIRA Cate',
                    width: '10%',
                    options: {{ jira_category_choice | safe }},
                    create: false,
                    edit: false
                },
                create_time: {
                    title: 'Create Time',
                    width: '25%',
                    create: false,
                    edit: false
                }
            }
        });
        $('#CrashContainer').jtable('load', {
            'prj_id': {% if project %}{{ project.id }}{% else %}null{% endif %},
            'build_id': {% if build %}{{ build.id }}{% else %}null{% endif %},
            'host_id': {% if host %}{{ host.id }}{% else %}null{% endif %},
            'testcase_id': {% if testcase %}{{ testcase.id }}{% else %}null{% endif %}
        });
    });
</script>
{% endblock %}