{% extends 'tbd/base.html' %}
{% block title %}SnS Big Data{% endblock %}
{% block nav_home_attr %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div id="RunningProjectContainer"></div>
        <!--
        <table id="id_project_running_table" class="table table-hover">
            <caption class="text-center">Project Running Information</caption>
            <thead>
                <td>ID</td>
                <td>Name</td>
                <td>Running Build</td>
                <td>Total Device</td>
                <td>Total hours</td>
                <td>Crash</td>
                <td>MTBF</td>
            </thead>
            <tbody>
                {% for prj in page.items %}
                <tr>
                    <td>{{ prj.no }}</td>
                    <td>{{ prj.name }}</td>
                    <td>{{ prj.attr.running_build }}</td>
                    <td>{{ prj.attr.total_devices }}</td>
                    <td>{{ prj.attr.total_hours }}</td>
                    <td>{{ prj.attr.crash_num }}</td>
                    <td class="hidden">
                        <select class="hidden" name="build_list" value="{{ prj.attr.running_build }}">
                            <option value>--no build--</option>
                        {% for build in prj.build_set.all %}
                            {% if prj.attr.running_build == build.version %}
                            <option value="{{ build.version }}" selected>{{ build.version }}</option>
                            {% else %}
                            <option value="{{ build.version }}">{{ build.version }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page.list %}
        <ul class="pagination">
            <li>
              <a href="{% url 'tbd_home' %}?page={{ page.previous }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% for p in page.list %}
            <li{% if page.cur == p %} class="active"{% endif %}><a href="{% url 'tbd_home' %}?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            <li>
              <a href="{% url 'tbd_home' %}?page={{ page.next }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        </ul>
        {% endif %}
        -->
    </div>
{% endblock %}
{% block user_js %}
<script type="text/javascript">
    var cachedBuildOptions = {};
    $(function(){
        $('#RunningProjectContainer').jtable({
            title: 'Project Running Information',
            ajaxSettings: {
                beforeSend: function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", get_cookie('csrftoken'));  
                }
            },
            paging: true,
            pageSize: 20,
            selecting: false,
            actions: {
                listAction: '/ajax/running_project_list',
                //createAction: '/ajax/CreatePerson',
                updateAction: '/ajax/running_project_update',
                //deleteAction: '/ajax/DeletePerson'
            },
            fields: {
                prj_id: {
                    key: true,
                    list: false
                },
                prj_name: {
                    title: 'Project',
                    width: '15%',
                },
                prj_owner: {
                    title: 'Owner',
                    width: '5%',
                },
                running_build: {
                    title: 'Build',
                    width: '30%',
                    options: function (data) {
                        console.log(data);
                        if ('prj_id' in data.record) {
                            if (data.record.prj_id in cachedBuildOptions) {
                                console.log("return cached build for project id " + data.record.prj_id + "!");
                                return cachedBuildOptions[data.record.prj_id];
                            }
                        }
                        else {
                            console.log("%Error%: not found project name when request build list!");
                            return [];
                        }
                        var options = [];
                        $.ajax({
                            url: '/ajax/running_project_list_builds',
                            type: 'POST',
                            dataType: 'json',
                            data: {'prj_id': data.record.prj_id},
                            async: false,
                            beforeSend: function(xhr, settings){
                                xhr.setRequestHeader("X-CSRFToken", get_cookie('csrftoken'));  
                            },
                            success: function (data) {
                                if (data.Result != 'OK') {
                                    alert(data.Message);
                                    return;
                                }
                                console.log(data);
                                options = data.Options;
                            }
                        });
                        return cachedBuildOptions[data.record.prj_id] = options; //Cache results and return options
                    }
                },
                os_type: {
                    title: 'OS_Type',
                    options: { '1': 'Win10 RS', '2': 'Win10 TH2', '3': 'Win7', '4': 'LE', '5': 'LA' },
                    list: false
                },
                os_ver: {
                    title: 'OS_Ver',
                    list: false
                },
                board_type: {
                    title: 'Board',
                    list: false
                },
                total_devices: {
                    title: 'Devices',
                    width: '5%'
                },
                total_hours: {
                    title: 'Hours',
                    width: '5%'
                },
                crash_num: {
                    title: 'Crash',
                    width: '5%'
                },
                mtbf: {
                    title: 'MTBF',
                    width: '5%'
                },
                cs_date: {
                    title: 'CS',
                    width: '10%',
                    type: 'date',
                    displayFormat: 'yy/mm/dd'
                },
                last_update: {
                    title: 'Update Time',
                    width: '20%',
                    edit: false
                }
            }
        });
        $('#RunningProjectContainer').jtable('load', {});
    });
</script>
{% endblock %}
