{% extends 'tbd/base.html' %}
{% block title %}Host{% endblock %}
{% block nav_host_attr %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                          <h1>
                          {% if project %}
                          {{ project.name }} <small>{{ project.owner }}</small>
                          {% else %}
                          No project selection <small>anonymous</small>
                          {% endif %}
                          </h1>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="filtering">
                            Project:
                            <select name="project_name" class="selectpicker">
                                <option value>--select project--</option>
                                {% for prj in projects %}
                                    <option value="{{prj.id}}"{% if project and prj == project %} selected="selected"{% endif %}>{{forloop.counter}}. {{prj.name}}</option>
                                {% endfor %}
                            </select>
                            Build: 
                            <select name="build_version" class="selectpicker">
                                <option value>--select build--</option>
                                {% for bld in builds %}
                                    <option value="{{bld.id}}"{% if build and build == bld %} selected="selected"{% endif %}>{{forloop.counter}}. {{bld.short_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="HostContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block user_js %}
<script type="text/javascript">
    $(function(){
        $('#HostContainer').jtable({
            title: 'Host List',
            paging: true,
            pageSize: 20,
            selecting: false,
            actions: {
                listAction: '/ajax/host_list',
                createAction: '/ajax/host_create?prj_id={% if project %}{{ project.id }}{% endif %}',
                updateAction: '/ajax/host_update',
                deleteAction: '/ajax/host_delete'
            },
            fields: {
                host_id: {
                    key: true,
                    list: false
                },
                host_name: {
                    title: 'Hostname',
                    width: '40%'
                },
                host_ip: {
                    title: 'IP address',
                    width: '20%'
                },
                host_mac: {
                    title: 'Mac address',
                    width: '20%'
                },
                crash_num: {
                    title: 'Total Crash',
                    width: '15%',
                    display: function(data) {
                        console.log(data);
                        if ('crash_num' in data.record) {
                            var crash_num = data.record.crash_num;
                            var url = "{% url "tbd_crash" %}?{% if build %}build_id={{ build.id }}{% elif project %}prj_id={{ project.id }}{% endif %}";
                            url = url + "&host_id=" + data.record.host_id;
                            return '<a href="' + url + '"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"> ' + crash_num + ' crashes</span></a>';
                        }
                        return 0;
                    },
                    create: false,
                    edit: false
                }
            }
        });
        $('#HostContainer').jtable('load', {
            'prj_id': {% if project %}{{ project.id }}{% else %}null{% endif %},
            'build_id': {% if build %}{{ build.id }}{% else %}null{% endif %}
        });
    });
</script>
{% endblock %}