{% extends 'tbd/base.html' %}
{% block title %}TestResult - SBD{% endblock %}
{% block nav_testresult_attr %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                          <h1>
                          {% if project %}
                          {{ project.name }} <small>{{ project.owner }}</small>
                          {% else %}
                          No project selection <small>anonymous</small>
                          {% endif %}
                          </h1>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="filtering">
                            Project:
                            <select name="project_name" class="selectpicker">
                                <option value>--select project--</option>
                                {% for prj in projects %}
                                    <option value="{{prj.id}}"{% if project and prj == project %} selected="selected"{% endif %}>{{forloop.counter}}. {{prj.name}}</option>
                                {% endfor %}
                            </select>
                            Build: 
                            <select name="build_version" class="selectpicker">
                                <option value>--select build--</option>
                                {% for bld in builds %}
                                    <option value="{{bld.id}}"{% if build and build == bld %} selected="selected"{% endif %}>{{forloop.counter}}. {{bld.short_name}}</option>
                                {% endfor %}
                            </select>
                            Host: 
                            <select name="host" class="selectpicker">
                                <option value>--select host--</option>
                                {% for ht in hosts %}
                                    <option value="{{ht.id}}"{% if host and host == ht %} selected="selected"{% endif %}>{{forloop.counter}}. {{ht.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="TestResultContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block user_js %}
<script type="text/javascript">
    var cachedTestResultOptions = {'host': {}, 'build': {}, 'testaction': {}};
    $(function(){
        $('#TestResultContainer').jtable({
            title: 'Test Action Result',
            paging: true,
            pageSize: 20,
            selecting: false,
            actions: {
                listAction: '/ajax/testresult_list',
                createAction: '/ajax/testresult_create',
                updateAction: '/ajax/testresult_update',
                deleteAction: '/ajax/testresult_delete'
            },
            fields: {
                testresult_id: {
                    key: true,
                    list: false
                },
                build_id: {
                    title: 'Build',
                    list: false,
                    options: function (data) {
                        console.log(data);
                        var prj_id = {% if project %}{{ project.id }}{% else %}null{% endif %};
                        if (prj_id) {
                            if (prj_id in cachedTestResultOptions.build) {
                                console.log("return cached build for project id " + prj_id + "!");
                                return cachedTestResultOptions.build[prj_id];
                            }
                        }
                        else {
                            console.log("%Error%: not found project id when request build list!");
                            return [];
                        }
                        var options = [];
                        $.ajax({
                            url: '/ajax/list_options_builds_in_project',
                            type: 'POST',
                            dataType: 'json',
                            data: {'prj_id': prj_id},
                            async: false,
                            success: function (data) {
                                if (data.Result != 'OK') {
                                    alert(data.Message);
                                    return;
                                }
                                console.log(data);
                                options = data.Options;
                            }
                        });
                        return cachedTestResultOptions.build[prj_id] = options; //Cache results and return options
                    },
                    create: true,
                    edit: true
                },
                host_id: {
                    title: 'Host',
                    list: false,
                    options: function (data) {
                        console.log(data);
                        var prj_id = {% if project %}{{ project.id }}{% else %}null{% endif %};
                        if (prj_id) {
                            if (prj_id in cachedTestResultOptions.host) {
                                console.log("return cached host for project id " + prj_id + "!");
                                return cachedTestResultOptions.host[prj_id];
                            }
                        }
                        else {
                            console.log("%Error%: not found project id when request build list!");
                            return [];
                        }
                        var options = [];
                        $.ajax({
                            url: '/ajax/list_options_hosts_in_project?prj_id='+prj_id,
                            type: 'POST',
                            dataType: 'json',
                            async: false,
                            success: function (data) {
                                if (data.Result != 'OK') {
                                    alert(data.Message);
                                    return;
                                }
                                console.log(data);
                                options = data.Options;
                            }
                        });
                        return cachedTestResultOptions.host[prj_id] = options; //Cache results and return options
                    },
                    create: true,
                    edit: true
                },
                testaction_id: {
                    title: 'Action',
                    width: '25%',
                    options: function (data) {
                        console.log(data);
                        var prj_id = {% if project %}{{ project.id }}{% else %}null{% endif %};
                        if (prj_id) {
                            if (prj_id in cachedTestResultOptions.testaction) {
                                console.log("return cached testaction for project id " + prj_id + "!");
                                return cachedTestResultOptions.testaction[prj_id];
                            }
                        }
                        else {
                            console.log("%Error%: not found project id when request build list!");
                            return [];
                        }
                        var options = [];
                        $.ajax({
                            url: '/ajax/list_options_testactions_in_project?prj_id='+prj_id,
                            type: 'POST',
                            dataType: 'json',
                            async: false,
                            success: function (data) {
                                if (data.Result != 'OK') {
                                    alert(data.Message);
                                    return;
                                }
                                console.log(data);
                                options = data.Options;
                            }
                        });
                        return cachedTestResultOptions.testaction[prj_id] = options; //Cache results and return options
                    },
                    create: true,
                    edit: true
                },
                testresult_pass_count: {
                    title: 'Pass',
                    width: '10%'
                },
                testresult_fail_count: {
                    title: 'Fail',
                    width: '10%'
                },
                last_update: {
                    title: 'Update Time',
                    width: '30%',
                    create: false,
                    edit: false
                }
            }
        });
        $('#TestResultContainer').jtable('load', {
            'prj_id': {% if project %}{{ project.id }}{% else %}null{% endif %},
            'build_id': {% if build %}{{ build.id }}{% else %}null{% endif %},
            'host_id': {% if host %}{{ host.id }}{% else %}null{% endif %},
            'testcase_id': {% if testcase %}{{ testcase.id }}{% else %}null{% endif %}
        });
    });
</script>
{% endblock %}