{% extends 'tbd/base.html' %}
{% block title %}Utility{% endblock %}
{% block nav_utility_attr %}class="active"{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
			<div class="col-md-2">
                <div id="utility_side_bar">
                    <div class="box">
                        <h5>Utilities</h5>
                        <div class="body">
                                {% for ut_name, ut_id in support_utilities.items %}
                                <img src="/static/images/utility_icon.gif" border="0">
                                <a id="issue_frequency_utility" href="{% url 'tbd_utility' %}?name={{ ut_name }}">{{ ut_id }}</a>
                                <br>
                                {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div id="UtilityContainer">
                    {% if utility_name == "issue_frequency" %}
                        {% block query_issue_block %}{% endblock %}
                    {% endif %}
				</div>
            </div>
        </div>
    </div>
{% endblock %}
