{% extends 'tbd/utility.html' %}

{% block issue_frequency_block %}
<span>Issue ID:</span><input id="query_issue_id" type="text" value="{{ issue_id }}"/><input type="button" id="query_issue_btn" value="Query" /input><br/>
<span id="task_result"></span>
<table id="test_table">
    <caption>
      <a id="treetable_unfold_link" href="#"><img src="/static/images/filterunfold.png" height="16px" />Unfold All</a>
      <a id="treetable_fold_link" class="hidden" href="#"><img src="/static/images/filterfold.png" height="16px" />Fold All</a>
    </caption>
    <thead>
      <tr>
        <th>Build and Devices</th>
        <th>JIRA</th>
        <th>Frequency</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr data-tt-id='1'><td>Sample build</td><td>--</td><td>10</td></tr> -->
      <!-- <tr data-tt-id='1-1' data-tt-parent-id='1'><td>Sample Device 1</td><td>--</td><td>3</td></tr> -->
      <!-- <tr data-tt-id='1-1-1' data-tt-parent-id='1-1'><td colspan="2">JIRA1, JIRA2, JIRA3, JIRA4</td><td>3</td></tr> -->
    </tbody>
</table>
{% endblock %}

{% block user_js %}
<script type="text/javascript">
    $(function(){
        $("#test_table").treetable({ expandable: true });
        
        $("#treetable_unfold_link").click(function() {
            $('#test_table').treetable('expandAll');
            $(this).addClass("hidden");
            $("#treetable_fold_link").removeClass("hidden");
            return false;
        });
        $("#treetable_fold_link").click(function() {
            $('#test_table').treetable('collapseAll');
            $(this).addClass("hidden");
            $("#treetable_unfold_link").removeClass("hidden");
            return false;
        });
        
        // Highlight selected row
        $("#test_table tbody").on("mousedown", "tr", function() {
          $(".selected").not(this).removeClass("selected");
          $(this).toggleClass("selected");
        });
        
        // Query button: refresh URL
        $("#query_issue_btn").click(function() {
            window.location.href="{% url 'tbd_utility' %}?name={{ utility_name }}&issue_id=" + $("#query_issue_id").val();
         });
         
        construct_query_result_table = function(query_result_json_str) {
            var query_result=null;
            try {
                query_result = $.parseJSON(query_result_json_str);
                console.log(query_result);
                var $table_body = $("#test_table tbody");
                sorted_builds = Object.keys(query_result.builds);
                for (var i = 0;i < sorted_builds.length; i++) {
                    var build_html = "<tr data-tt-id='" + i + "'><td>" + sorted_builds[i] + "</td><td>--</td>";
                    var build = query_result.builds[sorted_builds[i]];
                    console.log(build);
                    sorted_duts = Object.keys(build);
                    var build_jira_num = 0;
                    var dut_html_list = [];
                    //var jira_html_list = [];
                    for (var j = 0; j < sorted_duts.length; j++) {
                        var dut = build[sorted_duts[j]];
                        build_jira_num += dut.length;
                        var dut_html = "<tr data-tt-id='" + i + "-" + j + "' data-tt-parent-id='" + i + "'><td>" + sorted_duts[j] + "</td><td>--</td><td>" + dut.length + "</td></tr>";
                        console.log(dut);
                        var jira_list_str = '';
                        for (var k = 0; k < dut.length; k++) {
                            var jira = dut[k];
                            console.log(jira);
                        }
                        var jira_html = "<tr data-tt-id='" + i + "-" + j + "-0' data-tt-parent-id='" + i + "-" + j + "'><td colspan='2'>" + dut.join(", ") + "</td><td>" + dut.length + "</td></tr>";
                        dut_html_list.push(dut_html, jira_html);
                        //jira_html_list.push(jira_html);
                    }
                    build_html += "<td>" + build_jira_num + "</td></tr>";
                    $table_body.append(build_html);
                    $table_body.append(dut_html_list.join(''));
                }
                $("#test_table").treetable({ expandable: true }, true);
            } catch (e) {
                console.log("exception when parse task result!");
                console.log(e);
            }
        };
         
        update_task_status = function(){
            var $task_result = $("#task_result");
            if (query_issue_id == null) {
                console.log("No query issue id, do nothing...");
                return;
            }
            ajax_post_data(
                "/ajax/issue_frequency_result", 
                {'issue_id': query_issue_id}, 
                function(json) {
                    console.log(json)
                    var stop_query = false;
                    if ('done' in json) {
                        if (json.done == 0) {
                            $task_result.html(json.result);
                            setTimeout(update_task_status, 3000)
                        } else {
                            $task_result.html("The result has updated for: <b>" + json.life_time + "</b> Click to <a href=\"{% url 'tbd_utility' %}?name={{ utility_name }}&issue_id=" + $("#query_issue_id").val() + "&force_refresh=1\">Force Refresh</a>");
                            construct_query_result_table(json.result);
                            stop_query = true;
                        }
                    } else {
                        alert_box(url + " return illegal data!", "Receive illegal JSON data: Not found key 'done'!");
                        stop_query = true;
                    }
                    if (stop_query) {
                        $("#query_issue_btn").removeAttr("disabled");
                        $("#query_issue_btn").removeClass("disabled");
                    }
                }
            );
        };
        var query_issue_id = {% if issue_id %}"{{ issue_id }}"{% else %}null{% endif %};
        if (query_issue_id != null) {
            $("#query_issue_btn").attr('disabled',"true").addClass('disabled');
            update_task_status();
        }

    });
</script>
{% endblock %}
