<div ng-controller="EditableRowCtrl">
  <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:6%" rowspan="2">Brand</td>
      <td style="width:10%" rowspan="2">SSID</td>
      <td style="width:10%" rowspan="2">Type</td>
      <td style="width:10%" rowspan="2">Password</td>
      <td style="width:10%" rowspan="2">IP</td>
      <td style="width:10%" rowspan="2">
        <div ng-controller="SelectLocalCtrl">
            <a href="#" editable-select="filterOwner.value" e-ng-options="owner.value as owner.text for owner in owners">
                {{ filterOwner.text || "All" }}
            </a>
        </div>
      </td>
      <td style="width:24%" align="center" colspan="3">Aging Time(minutes)</td>
      <td style="width:20%" rowspan="2">Edit</td>
    </tr>
    <tr style="font-weight: bold">
      <td style="width:8%">Ping</td>
      <td style="width:8%">Scan</td>
      <td style="width:8%">Connect</td>
    </tr>
    <tr ng-repeat="ap in aps" ng-if="filterAp == '' || filterAp== ap.owner">
      <td>
        <span editable-text="ap.brand" e-name="brand" e-form="rowform" onbeforesave="checkBrand($data, ap.id)">
          {{ ap.brand || 'empty' }}
        </span>
      </td>
      <td>
        <span editable-text="ap.ssid" e-name="ssid" e-form="rowform" onbeforesave="checkSsid($data, ap.id)">
          {{ ap.ssid || 'empty' }}
        </span>
      </td>
      <td>
        <span editable-select="ap.type" e-name="type" onshow="loadTypes()" e-form="rowform" e-ng-options="t.value as t.text for t in types">
          {{ showType(ap) }}
        </span>
      </td>
      <td>
        <span editable-text="ap.password" e-name="password" e-form="rowform" onbeforesave="checkPassword($data, ap)">
          {{ ap.password || 'empty' }}
        </span>
      </td>
      <td>
        <span editable-text="ap.ip" e-name="ip" e-form="rowform" onbeforesave="checkIp($data)">
          {{ ap.ip || 'empty' }}
        </span>
      </td>
      <td>
        <span editable-text="ap.owner" e-name="owner" e-form="rowform" onbeforesave="checkOwner($data, ap.id)">
          {{ ap.owner || 'empty' }}
        </span>
      </td>
      <td>
        <span ng-class="!isString(ap.ping_aging) || !ap.ping_aging.startsWith('00h') ? 'highlight' : ''">
          {{ isString(ap.ping_aging) ? ap.ping_aging : 'Null' }}
        </span>
      </td>
      <td>
        <span ng-class="!isString(ap.scan_aging) || !ap.scan_aging.startsWith('00h') ? 'highlight' : ''">
          {{ isString(ap.scan_aging) ? ap.scan_aging : 'Null' }}
        </span>
      </td>
      <td>
        <span ng-class="!isString(ap.connect_aging) || !ap.connect_aging.startsWith('00h') ? 'highlight' : ''">
          {{ isString(ap.connect_aging) ? ap.connect_aging : 'Null' }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <form editable-form name="rowform" onbeforesave="saveAp($data, ap.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == ap">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button type="button" class="btn btn-danger" ng-click="removeAp($index, ap.id)">del</button>
        </div>
      </td>
    </tr>
  </table>

  <button type="button" class="btn btn-default" ng-click="addAp()">New AP</button>
</div>