@media (min-width: 768px ) {    
    .striped {
        background-color: #f9f9f9;
    }
    
    .path_input {
        width: 600px;
    }
    
    .hidden {
        display:none;
    }
    
    input.disabled {
        border: 1px solid #DDD;
        background-color: #F5F5F5;
        color:#ACA899;
    }

    div.filtering {
        margin-bottom: 5px;
        border: 1px solid #999;
        padding: 10px;
        background-color: #EEE;
    }
}