@media (min-width: 768px ) {
    .row {
        position: relative;
    }

    .row-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .striped {
        background-color: #f9f9f9;
    }
    
    .path_input {
        width: 600px;
    }
}